.recommendation-row-margin{
	margin: 10px 0px !important;
}

.recommendation-text{
	font-size: 1.5rem;
}

blockquote {
	padding-top: 7px;
	font-size: 1.5rem;
	font-style: italic;
	position: relative;
	color: #383838;
	border: none;
}

blockquote:before {
	display: block;
	/*padding-left: 10px;*/
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: -20px;
	top: -20px;
	color: #7a7a7a;
}

blockquote cite {
	color: #999999;
	font-size: 14px;
	display: block;
	margin-top: 5px;
}

blockquote cite:before {
	content: "\2014 \2009";
}