.test-center {
	align-items: center;
}

.test-justify {
	justify-content: space-between;
}

.test-img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.test-container {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.test-flex {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}