.secretContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.centerText {
  text-align: center;
}

.typewriter {
  align-self: center;
  text-align: center;
  color: white;
  font-size: 8vw;
  line-height: 9vw;
  height: 9vw;
  min-width: 1vw !important;
  /* max-width: 80vw !important; */
  /* float: left; */
}

.inputDiv {
  width: 80vw !important;
  height: 60px !important;
  padding: 0 !important;
  margin: 0 !important;
}

.inputStyle {
  width: 80vw !important;
  color: white !important;
  font-size: 8vw !important;
  height: 9vw !important;
  text-align: center;
  border-bottom: 5pt solid white !important;
  caret-color: white;
}

.inputStyle:disabled {
  color: white !important;
  border-bottom: 5pt solid white !important;
}

.cursor {
  font-size: 9vw;
  line-height: 9vw;
  transform: translateY(-0.5vw);
  animation: blink-caret 1s step-end infinite;
  /* float: left; */
  color: white;
}

.cursorGoAway {
  font-size: 9vw;
  line-height: 9vw;
  transform: translateY(-0.5vw);
  float: left;
  color: black;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    color: black;
  }
  50% {
    color: white;
  }
}
