.btn-custom-portfolio{
	width: 110px;
}

.portfolio-slick-padding{
	padding: 10px;
}

.slick-prev-custom-next,.slick-prev-custom-prev{
	border: 1px solid #1a237e;
	position: absolute;
	top: 50%;
	color: white;
	background-color: #1a237e;
	font-size: 30px;
	border-radius: 15px;
	z-index: 999;
}

.slick-prev-custom-prev{
	left: -40px;
}

.slick-prev-custom-next{
	right: -40px;
}

@media (max-width: 600px){
	.slick-prev-custom-next,.slick-prev-custom-prev{
		font-size: 20px;
	}
	.slick-prev-custom-prev{
		left: -15px;
	}

	.slick-prev-custom-next{
		right: -15px;
	}
}